@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@100&display=swap');

.titulo {
    font-family: 'Ysabeau', sans-serif;
    background-color: #F0F8FF;
    color: #000;
    height: 100px;
    padding: 2%;
}