@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@700&display=swap');

.forumParagraph {
    font-family: 'Ysabeau', sans-serif;
    background-color: #f5d378;
    color: #000;
    height: 100px;
    padding: 2%;
    margin: 1%;
    border-radius: 20px;
}