<h1>{{title}}</h1>
<section class="container">
    <div class="flex-container">

        <p class="homeParagraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et ligula sem. Quisque ornare finibus euismod.
            Nulla
            facilisi. Sed et diam vitae nulla dictum semper vel non nisl. Morbi eget ligula eleifend, fringilla nunc sit
            amet,
            luctus felis. Integer congue tristique orci, sit amet ultrices massa aliquet a. Morbi placerat sapien in
            lobortis
            luctus.
            Quisque finibus elementum felis, in semper nisl scelerisque quis. Sed in quam a ante egestas vestibulum.
            Praesent
            lobortis eget lacus sed vehicula. Pellentesque quis nulla dolor. Sed venenatis vel urna ut pretium.
            Pellentesque
            pellentesque ex ante, vel feugiat risus consectetur ac. Nunc at massa tempus purus pharetra luctus vitae non
            purus.
            Integer libero dui, pretium ac imperdiet a, tempus in risus. Vivamus lobortis nisl vel magna varius porta.
            Morbi non
            orci urna. Phasellus sit amet dapibus velit.
        </p>
        <img [src]="url" [alt]="description" class="photo" />
    </div>

</section>

<br>